body {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Raleway', sans-serif;
  }

  p {
    line-height: 1.75;
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 960px;
    }
  }

  .bg-full {
    /* height: 100%; */
    min-height: 400px;
    z-index: 0;
  }

  .sidebar {
    width: 100%;
    /* height: 100%; */
    min-height: 400px;
    opacity: 0.8;
    z-index: 1;
  }

  .sidebar-content {
    padding-top: 40%;
    padding-bottom:20%;
  }

  @media (min-width: 992px) {
    .sidebar {
      width: 100%;
      /* height:100%; */
      min-height: 400px;
      margin: 0;
      opacity: 0.8;
    }

    .sidebar-content {
      padding-top: 50%;
    }
  }

  .navbar-nav .nav-item .nav-link {
    color: #C3996B;
    font-size: 14px;
  }

  .navbar-nav .nav-item .nav-link:hover {
    color: #8E1D21;
  }
  .navbar-nav .nav-item.active .nav-link:hover {
    color: #8E1D21;
  }

  ul.list {
    list-style-type:square;
    font-size: 20px;
    line-height: 1.5;
  }

  .sz-20 {
    font-size:20px;
  }

  .text-ara-brown {
    color: #C3996B;
  }

  .text-ara-red {
    color: #8E1D21;
  }

  .bg-ara-red {
    background-color: #8E1D21;
  }
