// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position: relative;
    top: 75px;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    color: #e0c3a3;
    text-decoration: none;
}

a:hover {
    color: #C3996B;
    text-decoration: none;
}

hr {
    background-color: #C3996B;
    width: 100%;
}

.hr-about {
    background-color: white;
    width: 300px;
    border-width: 3px;
}

.form-control {
    border-radius: 0;
}

.text-head {
    font-size: 4rem;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

.bg-full {
    /* height: 100%; */
    min-height: 400px;
    z-index: 0;
    position: relative;
}

.bg-brc {
    height: 300px;
    background: url('https://ara-lawoffice.com/public/img/bg-br.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar {
    width: 100%;
    /* height: 100%; */
    min-height: 100px;
}

.sidebar-back {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(142, 29, 33, 0.65);
}

.sidebar-head {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100px;
    height: 100%;
    background-color: rgba(142, 29, 33, 0.65);
}

.sidebar-content {
    padding-top: 4rem; // padding-bottom: 4rem;
}

.side-header-content {
    padding-top: 6rem;
    padding-bottom: 5rem;
}

@media (min-width: 992px) {
    .sidebar {
        width: 100%;
        /* height:100%; */
        min-height: 400px;
        margin: 0;
    }

    .sidebar-content {
        padding-top: 5rem;
    }

    .sidebar-back {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 37%;
        min-height: 500px;
        height: 100%;
        background-color: rgba(142, 29, 33, 0.65);
    }

    .sidebar-head {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 37%;
        height: 650px;
        background-color: rgba(142, 29, 33, 0.65);
    }
}

.bg-first {
    background: url('https://ara-lawoffice.com/public/img/bg-header.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-att {
    background: url('https://ara-lawoffice.com/public/img/bg-attorney.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-contact {
    background: url('https://ara-lawoffice.com/public/img/bg-contact.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-nav .nav-item .nav-link {
    color: #C3996B;
    font-size: 14px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #8E1D21;
}

.navbar-nav .nav-item.active .nav-link:hover {
    color: #8E1D21;
}

ul.list {
    list-style-type: square;
    font-size: 20px;
    line-height: 1.5;
}

.pt-ara {
    padding-top: 4rem;
}

.py-ara {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.pb-ara {
    padding-bottom: 4rem;
}

.px-ara {
    padding-left: 4rem;
    padding-right: 4rem;
}

.btn-primary {
    background-color: #C3996B;
    border-color: #C3996B;
    padding: 10px 50px;
}

.sz-20 {
    font-size: 20px;
}

.text-ara-brown {
    color: #C3996B;
}

.text-ara-red {
    color: #8E1D21;
}

.bg-ara-red {
    background-color: #8E1D21;
}

.sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}
